body {
    font-family: serif;
    font-size: 100%;
    background-color: hsl(40, 10%, 80%);
}
code {
    white-space: pre;
    font-size: 1.1em;
    font-weight: bold;
    color: blue;
}

img {
    display: block;
    padding: 15px;
    text-align: center;
}
